In [1]:
import tabula
import pandas as pd
import os

In [53]:
def pdf_to_csv(pdf_path, csv_path):
    """
    pdf_path: path to pdf file
    csv_path: path to csv file
    """
    tabula.convert_into(pdf_path, csv_path, output_format="csv", pages='all')

def gender_distance_style_category(lista):
    """
    lista: result of pdf_to_csv
    """
    lista = lista[0]
    names = lista.columns
    #names in lowercase
    names = [name.lower() for name in names]
    names = [name.replace('á','a') for name in names]
    names = [name.replace('é','e') for name in names]
    names = [name.replace('í','i') for name in names]
    names = [name.replace('ó','o') for name in names]
    names = [name.replace('ú','u') for name in names]
    # Get the second name
    namessplitpoint = names[1].split('.')
    gender = namessplitpoint[0]
    distance = namessplitpoint[1].split(' ')[1]
    # remove letters in distance
    distance = ''.join([i for i in distance if not i.isalpha()])
    style = namessplitpoint[1].split(' ')[2]

    namessplitspace = names[4].split(' ')
    category = namessplitspace[0]

    return gender, distance, style, category

In [55]:
def columns_df(lista): 
    return gender_distance_style_category(lista), lista[0]

In [49]:
def add_columns(df, gender, distance, style, category): 
    #add to df 3 columns
    # First gender
    df["gender"] = gender*df.shape[0]
    # Second distance
    df["distance"] = distance*df.shape[0]
    # Third style
    df["style"] = style*df.shape[0]
    # Fourth category
    df["category"] = category*df.shape[0]

In [54]:
list_pdf1 = tabula.read_pdf("pdfs/ResultList_25.pdf", pages='all')
a = list_pdf1[0]
print(a.shape)

print(gender_distance_style_category(list_pdf1))

(12, 5)
('masc', '200', 'estilos', 'alevin')

In [8]:
list_pdf2 = tabula.read_pdf("pdfs/ResultList_26.pdf", pages='all')
list_pdf2[0]

,Prueba 26,"Fem., 200m Estilos",Unnamed: 0,Unnamed: 1,Unnamed: 2,Alevín Fem.
0,04/11/2023 - 16:20,NaN,NaN,NaN,NaN,Resultados
1,Clasificación,AN,NaN,NaN,Tiempo,Puntos
2,"1. ESCOBAR CHERBUY, Clara",11 C.N. Los Barrios,NaN,NaN,2:36.46,-
3,50m: 32.25 32.25 100m:,1:09.95 37.70 150m: 1:58.47 48.52,NaN,200m:,2:36.46,37.99
4,"2. MENA OROZCO, Carlota",11 C.D.N. Sanlucar,NaN,NaN,2:40.31,-
5,50m: 36.17 36.17 100m:,1:17.93 41.76 150m: 2:03.23 45.30,NaN,200m:,2:40.31,37.08
6,"3. MONGE AIXELA, Alexia",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:40.85,-
7,50m: 34.67 34.67 100m:,1:18.17 43.50 150m: 2:04.44 46.27,NaN,200m:,2:40.85,36.41
8,"4. MENA OROZCO, Blanca",11 C.D.N. Sanlucar,NaN,NaN,2:42.96,-
9,50m: 35.68 35.68 100m:,1:16.55 40.87 150m: 2:05.25 48.70,NaN,200m:,2:42.96,37.71
10,"5. REDONDO ZAMORA, Paloma",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:49.99,-
11,50m: 38.27 38.27 100m:,1:21.97 43.70 150m: 2:10.21 48.24,NaN,200m:,2:49.99,39.78
12,"6. DIAZ GONZALEZ, Alicia",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:55.09,-
13,50m: 37.74 37.74 100m:,1:19.59 41.85 150m: 2:13.65 54.06,NaN,200m:,2:55.09,41.44
14,"7. MORENO BUSTOS, Claudia",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:55.26,-
15,50m: 39.92 39.92 100m:,1:20.79 40.87 150m: 2:13.01 52.22,NaN,200m:,2:55.26,42.25
16,"8. BRAVO VILLAR, Marcela",11 C.N. Bahia De Cadiz,NaN,NaN,3:01.17,-
17,50m: 40.12 40.12 100m:,1:27.63 47.51 150m: 2:20.57 52.94,NaN,200m:,3:01.17,40.60
18,"9. JIMENEZ MARTINEZ, Claudia",12 C.N. San Fernando,NaN,NaN,3:08.59,-
19,50m: 41.95 41.95 100m:,1:31.83 49.88 150m: 2:23.85 52.02,NaN,200m:,3:08.59,44.74
20,"10. ESTEVEZ TERROBA, Leire",12 C.N. San Fernando,NaN,NaN,3:14.30,-
21,50m: 46.09 46.09 100m:,1:32.75 46.66 150m: 2:31.27 58.52,NaN,200m:,3:14.30,43.03

In [ ]:
gender, distance, style, category, prueba1 = columns_df(list_pdf1)
prueba1 = add_columns(prueba1, gender, distance, style, category)

print(prueba1)