In [1]:
import auxfunctions as aux
import pandas as pd
import tabula

# ResultList_25

In [3]:
ResultList_25 = "pdfs/ResultList_25.pdf"
tabu = tabula.read_pdf(ResultList_25, pages='all')
tabu = tabu[0]
gender, distance, style, category, date, time = aux.gender_distance_style_category_date_time(tabu)
tabu = aux.add_columns(tabu, gender=gender, distance=distance, style=style, category=category, date_string=date, time_string=time) #add_columns has dataframe as input
print(tabu.head(5))

                     Prueba 25                Masc., 200m Estilos Unnamed: 0  \
0           04/11/2023 - 16:15                                NaN        NaN
1                Clasificación                                 AN        NaN
2  1. RODRIGUEZ CASTRO, Victor      11 C.D.N. Ciudad De Algeciras        NaN
3       50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76      200m:
4      2. MOLINA NUÑEZ, Victor               11 C.N. San Fernando        NaN

  Unnamed: 1 Alevín Masc. gender distance    style category       date  \
0        NaN   Resultados   masc      200  estilos   alevin 2023-11-04
1     Tiempo       Puntos   masc      200  estilos   alevin 2023-11-04
2    2:41.21            -   masc      200  estilos   alevin 2023-11-04
3    2:41.21        37.05   masc      200  estilos   alevin 2023-11-04
4    2:58.52            -   masc      200  estilos   alevin 2023-11-04

       time
0  16:15:00
1  16:15:00
2  16:15:00
3  16:15:00
4  16:15:00

In [4]:
ResultList_26 = "pdfs/ResultList_26.pdf"

In [5]:
tabu = tabula.read_pdf(ResultList_26, pages='all')
tabu = tabu[0]
gender, distance, style, category, date, time = aux.gender_distance_style_category_date_time(tabu)
tabu = aux.add_columns(tabu, gender=gender, distance=distance, style=style, category=category, date_string=date, time_string=time) #add_columns has dataframe as input
print(tabu.head(5))

                   Prueba 26                 Fem., 200m Estilos  Unnamed: 0  \
0         04/11/2023 - 16:20                                NaN         NaN
1              Clasificación                                 AN         NaN
2  1. ESCOBAR CHERBUY, Clara                11 C.N. Los Barrios         NaN
3     50m: 32.25 32.25 100m:  1:09.95 37.70 150m: 1:58.47 48.52         NaN
4    2. MENA OROZCO, Carlota                 11 C.D.N. Sanlucar         NaN

  Unnamed: 1 Unnamed: 2 Alevín Fem. gender distance    style category  \
0        NaN        NaN  Resultados    fem      200  estilos   alevin
1        NaN     Tiempo      Puntos    fem      200  estilos   alevin
2        NaN    2:36.46           -    fem      200  estilos   alevin
3      200m:    2:36.46       37.99    fem      200  estilos   alevin
4        NaN    2:40.31           -    fem      200  estilos   alevin

        date      time
0 2023-11-04  16:20:00
1 2023-11-04  16:20:00
2 2023-11-04  16:20:00
3 2023-11-04  16:20:00
4 2023-11-04  16:20:00

In [52]:
tabula.read_pdf("pdfs/ResultList_39.pdf", pages='all', multiple_tables=False)[0]

,Prueba 39,Unnamed: 1,"Fem., 100m Espalda",Unnamed: 3,Alevín Fem.
0,04/11/2023 - 18:13,NaN,NaN,NaN,Resultados
1,Clasificación,NaN,AN,Tiempo,Puntos
2,"1. RUZ ALCAIDE, Virginia",NaN,11 Club Natacion Jerez,1:09.37,-
3,50m: 34.01 34.01 100m:,NaN,1:09.37 35.36,NaN,NaN
4,"2. RAMOS ROMERO, Alma",NaN,11 C.D.N. Sanlucar,1:17.14,-
5,50m: 37.02 37.02 100m:,NaN,1:17.14 40.12,NaN,NaN
6,"3. MORENO BUSTOS, Claudia",NaN,11 C.D.N. Ciudad De Algeciras,1:19.40,-
7,50m: 38.40 38.40 100m:,NaN,1:19.40 41.00,NaN,NaN
8,"4. REYES GARCÍA, Álex",NaN,12 Club Natacion Jerez,1:27.42,-
9,50m: 42.80 42.80 100m:,NaN,1:27.42 44.62,NaN,NaN
10,"5. MONGE AIXELA, Valeria",NaN,12 C.D.N. Ciudad De Algeciras,1:28.34,-
11,50m: 43.24 43.24 100m:,NaN,1:28.34 45.10,NaN,NaN
12,"6. ESTEVEZ TERROBA, Leire",NaN,12 C.N. San Fernando,1:29.16,-
13,50m: 43.53 43.53 100m:,NaN,1:29.16 45.63,NaN,NaN
14,"7. LÓPEZ MONTAÑO, María",NaN,12 C.D.N. Sanlucar,1:29.34,-
15,50m: 43.64 43.64 100m:,NaN,1:29.34 45.70,NaN,NaN
16,"8. MARTIN MORALES, Adriana",NaN,11 Club Natacion Jerez,1:30.89,-
17,50m: 44.43 44.43 100m:,NaN,1:30.89 46.46,NaN,NaN
18,"9. MENJIBAR FANDIÑO, Carolina",NaN,11 C.N. Bahia De Cadiz,1:32.08,-
19,50m: 43.72 43.72 100m:,NaN,1:32.08 48.36,NaN,NaN
20,"10. JIMENEZ MARTINEZ, Claudia",NaN,12 C.N. San Fernando,1:32.91,-
21,50m: 45.51 45.51 100m:,NaN,1:32.91 47.40,NaN,NaN
22,"11. JIMENEZ RUBIO, Lola",NaN,12 C.N. Los Barrios,1:33.04,-
23,50m: 45.94 45.94 100m:,NaN,1:33.04 47.10,NaN,NaN
24,"12. VERDEJO JAEN, Elena",NaN,12 C.N. Los Barrios,1:33.86,-
25,50m: 46.18 46.18 100m:,NaN,1:33.86 47.68,NaN,NaN
26,"13. BUZON SERRANO, Genoveva",NaN,12 C.D.N. Sanlucar,1:34.61,-
27,50m: 45.75 45.75 100m:,NaN,1:34.61 48.86,NaN,NaN
28,"14. ANTÚNEZ RUIZ, Elena",NaN,11 C.N. Los Barrios,1:35.20,-
29,50m: 46.43 46.43 100m:,NaN,1:35.20 48.77,NaN,NaN
30,"15. PRECIADO VAZQUEZ, Valeria",NaN,12 C.N. Los Barrios,1:37.02,-
31,50m: 46.44 46.44 100m:,NaN,1:37.02 50.58,NaN,NaN
32,"16. ALI MARQUEZ, Maryam",NaN,12 C.D.N. Ciudad De Algeciras,1:37.46,-
33,50m: 48.07 48.07 100m:,NaN,1:37.46 49.39,NaN,NaN
34,"17. BRAZA RAMOS, Julia",NaN,12 C.D.N. Sanlucar,1:37.57,-
35,50m: 46.25 46.25 100m:,NaN,1:37.57 51.32,NaN,NaN
36,"18. CARO VEGA, Marta",NaN,12 C.N. Portuense,1:38.04,-
37,50m: 47.61 47.61 100m:,NaN,1:38.04 50.43,NaN,NaN
38,"19. MINAYA COELLO, Elena",NaN,12 C.D.N. Ciudad De Algeciras,1:41.69,-
39,50m: 49.69 49.69 100m:,NaN,1:41.69 52.00,NaN,NaN
40,"20. PRIAN PEREZ, Paula",NaN,12 Club Natacion Jerez,1:43.00,-
41,50m: 50.29 50.29 100m:,NaN,1:43.00 52.71,NaN,NaN
42,"21. RABINOWITZ, Emanuelle",NaN,12 C.N. Los Barrios,1:43.11,-
43,50m: 50.73 50.73 100m:,NaN,1:43.11 52.38,NaN,NaN
44,"22. ROMAN DE RUEDA, Elena",NaN,12 Club Natacion Jerez,1:46.36,-
45,1a ETAPA CIRCUITO JJNN - CÁDIZ,NaN,NaN,NaN,NaN
46,"PUERTO STA.Ma, 4/11/2023",NaN,NaN,NaN,NaN
47,"Prueba 39, Fem., 100m Espalda, Alevín Fem.",NaN,NaN,NaN,NaN
48,Clasificación AN,Tiempo,Puntos,NaN,NaN
49,"23. BOZA BAEZ, Daniela 12 C.N. Los Barrios",1:48.52,-,NaN,NaN
50,50m: 52.75 52.75 100m: 1:48.52 55.77,NaN,NaN,NaN,NaN
51,"24. LAMAS RUIZ, Claudia 12 C.N. San Fernando",1:51.42,-,NaN,NaN
52,50m: 52.08 52.08 100m: 1:51.42 59.34,NaN,NaN,NaN,NaN
53,"25. VERA ROMERO, Alicia 12 C.D.N. Sanlucar",1:52.87,-,NaN,NaN
54,50m: 54.97 54.97 100m: 1:52.87 57.90,NaN,NaN,NaN,NaN
55,"26. MELGUIZO SÁNCHEZ, África 12 C.N. Portuense",2:00.04,-,NaN,NaN
56,50m: 57.08 57.08 100m: 2:00.04 1:02.96,NaN,NaN,NaN,NaN
57,"27. MARTINEZ DE PINILLOS GONZALEZ, Ir1e2ne C.N...",2:02.67,-,NaN,NaN
58,50m: 57.92 57.92 100m: 2:02.67 1:04.75,NaN,NaN,NaN,NaN
59,"28. BELLIDO LEON, Marina 11 C.N. San Fernando",2:05.34,-,NaN,NaN

In [7]:
ResultList_25 = "pdfs/ResultList_25.pdf"
ResultList_26 = "pdfs/ResultList_26.pdf"
ResultList_27 = "pdfs/ResultList_27.pdf"

In [12]:
tabu25 = tabula.read_pdf(ResultList_25, pages='all')
tabu25 = tabu25[0]
tabu26 = tabula.read_pdf(ResultList_26, pages='all')
tabu26 = tabu26[0]
tabu27 = tabula.read_pdf(ResultList_27, pages='all')
tabu27 = tabu27[0]
print(tabu25.head(5))
print(tabu25.columns)
print(tabu26.head(5))
print(tabu26.columns)

                     Prueba 25                Masc., 200m Estilos Unnamed: 0  \
0           04/11/2023 - 16:15                                NaN        NaN
1                Clasificación                                 AN        NaN
2  1. RODRIGUEZ CASTRO, Victor      11 C.D.N. Ciudad De Algeciras        NaN
3       50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76      200m:
4      2. MOLINA NUÑEZ, Victor               11 C.N. San Fernando        NaN

  Unnamed: 1 Alevín Masc.
0        NaN   Resultados
1     Tiempo       Puntos
2    2:41.21            -
3    2:41.21        37.05
4    2:58.52            -
Index(['Prueba 25', 'Masc., 200m Estilos', 'Unnamed: 0', 'Unnamed: 1',
       'Alevín Masc.'],
      dtype='object')
                   Prueba 26                 Fem., 200m Estilos  Unnamed: 0  \
0         04/11/2023 - 16:20                                NaN         NaN
1              Clasificación                                 AN         NaN
2  1. ESCOBAR CHERBUY, Clara                11 C.N. Los Barrios         NaN
3     50m: 32.25 32.25 100m:  1:09.95 37.70 150m: 1:58.47 48.52         NaN
4    2. MENA OROZCO, Carlota                 11 C.D.N. Sanlucar         NaN

  Unnamed: 1 Unnamed: 2 Alevín Fem.
0        NaN        NaN  Resultados
1        NaN     Tiempo      Puntos
2        NaN    2:36.46           -
3      200m:    2:36.46       37.99
4        NaN    2:40.31           -
Index(['Prueba 26', 'Fem., 200m Estilos', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Alevín Fem.'],
      dtype='object')

In [26]:
print(tabu27.head(10))
print(tabu27.columns)

                                  Prueba 27 Masc., 100m Libre  \
0                        04/11/2023 - 16:28               NaN
1                             Clasificación                AN
2                   1. VERDEJO JAÉN, Javier                14
3                    50m: 44.53 44.53 100m:           1:34.73
4  2. RODRIGUEZ GARCIA DE DIONISIO, Ma1r4io               NaN
5                    50m: 45.87 45.87 100m:           1:36.65
6                  3. REAL DELGADO, gonzalo                14
7                    50m: 44.90 44.90 100m:           1:36.92
8            4. PALMERO ESPINOSA, Alejandro                14
9                    50m: 44.86 44.86 100m:           1:37.96

                       Unnamed: 0 Unnamed: 1 Benjamin 2014.
0                             NaN        NaN     Resultados
1                             NaN     Tiempo         Puntos
2                C.N. Los Barrios    1:34.73              -
3                           50.20        NaN            NaN
4               C.N. San Fernando    1:36.65              -
5                           50.78        NaN            NaN
6             Club Natacion Jerez    1:36.92              -
7                           52.02        NaN            NaN
8  Club Deportivo Waterpolo Jerez    1:37.96              -
9                           53.10        NaN            NaN
Index(['Prueba 27', 'Masc., 100m Libre', 'Unnamed: 0', 'Unnamed: 1',
       'Benjamin 2014.'],
      dtype='object')

In [25]:
def column_hyphens(df):
    """
    df: dataframe
    Output: column with more than 50% of hyphens
    We use this function in points function, in order to find the column we'll called score
    """
    for column in df.columns:
        hyphen_count = sum(df[column] == "-")
        if hyphen_count >= len(df) / 4:
            return column
    
    return hyphen_count

print(tabu27.columns)

Index(['Prueba 27', 'Masc., 100m Libre', 'Unnamed: 0', 'Unnamed: 1',
       'Benjamin 2014.'],
      dtype='object')