In [7]:
import functions200m as fun200
import functions200m as fun100
import pandas as pd
import tabula
import csv
import os
import functions50m as fun50

In [15]:
pdf = 'pdfs/ResultList_41.pdf'
tabu = tabula.read_pdf(pdf, pages='all', multiple_tables=False)
tabu = tabu[0]
print(tabu)

                         Prueba 41                 Masc., 50m Espalda  \
0               04/11/2023 - 18:28                                NaN
1                    Clasificación                                 AN
2      1. REINADO HURTADO, leandro             14 Club Natacion Jerez
3     2. GONZALEZ COLLANTES, Pablo               14 C.N. San Fernando
4   3. PALMERO ESPINOSA, Alejandro  14 Club Deportivo Waterpolo Jerez
5         4. REAL DELGADO, gonzalo             14 Club Natacion Jerez
6          5. VERDEJO JAÉN, Javier                14 C.N. Los Barrios
7        6. SOUSSI BAHRAOUI, Talal      14 C.D.N. Ciudad De Algeciras
8         7. AHUMADA MUÑOZ, Andres               14 C.N. San Fernando
9        8. RODRIGUEZ TOCINO, Ivan               14 C.N. San Fernando
10         DSQ REYES CHAVEZ, Mario             14 Club Natacion Jerez

   Unnamed: 2 Benjamin 2014.
0         NaN     Resultados
1      Tiempo         Puntos
2       46.78              -
3       48.61              -
4       50.22              -
5       51.22              -
6       51.58              -
7       54.33              -
8       56.83              -
9       57.98              -
10        NaN              -

In [16]:
race_time = fun50.race_timefun(tabu)
gender, distance, style, category, date, time = fun50.gender_distance_style_category_date_time(tabu)
tabu = fun50.add_columns(tabu, gender=gender, distance=distance, style=style, category=category, date_string=date, time_string=time) #add_columns has dataframe as input
tabu = fun50.nas_rows(tabu)
print(tabu)
df = tabu

['prueba 41', 'masc., 50m espalda', 'unnamed: 2', 'benjamin 2014.']
                         Prueba 41                 Masc., 50m Espalda  \
2      1. REINADO HURTADO, leandro             14 Club Natacion Jerez
3     2. GONZALEZ COLLANTES, Pablo               14 C.N. San Fernando
4   3. PALMERO ESPINOSA, Alejandro  14 Club Deportivo Waterpolo Jerez
5         4. REAL DELGADO, gonzalo             14 Club Natacion Jerez
6          5. VERDEJO JAÉN, Javier                14 C.N. Los Barrios
7        6. SOUSSI BAHRAOUI, Talal      14 C.D.N. Ciudad De Algeciras
8         7. AHUMADA MUÑOZ, Andres               14 C.N. San Fernando
9        8. RODRIGUEZ TOCINO, Ivan               14 C.N. San Fernando
10         DSQ REYES CHAVEZ, Mario             14 Club Natacion Jerez

   Unnamed: 2 Benjamin 2014. gender distance    style  category       date  \
2       46.78              -   masc       50  espalda  benjamin 2023-11-04
3       48.61              -   masc       50  espalda  benjamin 2023-11-04
4       50.22              -   masc       50  espalda  benjamin 2023-11-04
5       51.22              -   masc       50  espalda  benjamin 2023-11-04
6       51.58              -   masc       50  espalda  benjamin 2023-11-04
7       54.33              -   masc       50  espalda  benjamin 2023-11-04
8       56.83              -   masc       50  espalda  benjamin 2023-11-04
9       57.98              -   masc       50  espalda  benjamin 2023-11-04
10        NaN              -   masc       50  espalda  benjamin 2023-11-04

        time
2   18:28:00
3   18:28:00
4   18:28:00
5   18:28:00
6   18:28:00
7   18:28:00
8   18:28:00
9   18:28:00
10  18:28:00

In [19]:
pdf = 'pdfs/ResultList_40.pdf'
tabu = tabula.read_pdf(pdf, pages='all', multiple_tables=False)
print(tabu)

[                            Prueba 40 Fem., 100m Espalda  \
0                  04/11/2023 - 18:23                NaN
1                       Clasificación                 AN
2            1. CASTILLO OJEDA, Julia                 13
3              50m: 42.03 42.03 100m:            1:25.75
4            2. AGUILAR CONESA, Julia                 13
5              50m: 43.09 43.09 100m:            1:28.73
6          3. GONZALEZ MARTINEZ, Gema                 13
7              50m: 45.47 45.47 100m:            1:35.07
8            4. MORILLO QUIROS, Maria                 13
9              50m: 49.85 49.85 100m:            1:39.81
10         5. LOZANO MANDESIS, Alicia                 13
11             50m: 51.44 51.44 100m:            1:41.28
12           6. PEÑA JIMENEZ, Carlota                 13
13             50m: 49.43 49.43 100m:            1:41.80
14    7. FERNANDEZ CLANNACHAN, alexia                 13
15             50m: 50.08 50.08 100m:            1:41.96
16         8. FERNANDEZ SANCHEZ, Emma                 13
17             50m: 49.79 49.79 100m:            1:44.39
18             9. RAMOS ROMERO, Leire                 13
19             50m: 51.97 51.97 100m:            1:47.44
20  10. MONREAL BECERRA, Ana Estrella                 13
21             50m: 53.18 53.18 100m:            1:52.59
22         11. JIMÉNEZ BARBERO, María                 13
23             50m: 55.28 55.28 100m:            1:53.62
24       12. HERRERA HERRERA, Ariadna                 13

                    Unnamed: 2 Benjamin Fem. 2013
0                          NaN         Resultados
1                          NaN      Tiempo Puntos
2   C.D.N. Ciudad De Algeciras          1:25.75 -
3                        43.72                NaN
4   C.D.N. Ciudad De Algeciras          1:28.73 -
5                        45.64                NaN
6            C.N. San Fernando          1:35.07 -
7                        49.60                NaN
8          Club Natacion Jerez          1:39.81 -
9                        49.96                NaN
10            C.N. Los Barrios          1:41.28 -
11                       49.84                NaN
12  C.D.N. Ciudad De Algeciras          1:41.80 -
13                       52.37                NaN
14         Club Natacion Jerez          1:41.96 -
15                       51.88                NaN
16            C.N. Los Barrios          1:44.39 -
17                       54.60                NaN
18             C.D.N. Sanlucar          1:47.44 -
19                       55.47                NaN
20         Club Natacion Jerez          1:52.59 -
21                       59.41                NaN
22  C.D.N. Ciudad De Algeciras          1:53.62 -
23                       58.34                NaN
24            C.N. Los Barrios          2:04.68 -  ]

# Prueba 37

In [1]:
import functions200m as fun200
import functions200m as fun100
import pandas as pd
import tabula
import csv
import os
import functions100m as fun100

In [4]:
pdf = 'pdfs/ResultList_37.pdf'
tabu = tabula.read_pdf(pdf, pages='all', multiple_tables=False)
tabu = tabu[0]
gender, distance, style, category, date, time = fun100.gender_distance_style_category_date_time(tabu)
race_time = fun100.race_timefun(tabu)
tabu = fun100.add_columns(tabu, gender=gender, distance=distance, style=style, category=category, date_string=date, time_string=time) #add_columns has dataframe as input
tabu = fun100.nas_rows(tabu)
print(tabu)

                        Prueba 37 Masc., 100m Espalda          gender  \
2   1. RODRIGUEZ PIÑERO, Antonio 11 C.N. San Fernando  prueba 37 masc
3                50m: 38.70 38.70 100m: 1:19.75 41.05  prueba 37 masc
4      2. ESTRADA MONTERO, Dario 11 C.N. San Fernando  prueba 37 masc
5                50m: 41.46 41.46 100m: 1:24.29 42.83  prueba 37 masc
6         3. ROBLES ROMERO, Carlos 12 C.D.N. Sanlucar  prueba 37 masc
7                50m: 39.86 39.86 100m: 1:25.27 45.41  prueba 37 masc
8    4. PAEZ RODRIGUEZ, Fernando 12 C.N. San Fernando  prueba 37 masc
9                50m: 42.10 42.10 100m: 1:26.11 44.01  prueba 37 masc
10          5. BARO VIÑA, Hector 12 C.N. San Fernando  prueba 37 masc
11               50m: 41.34 41.34 100m: 1:26.51 45.17  prueba 37 masc
12  6. BERMÚDEZ NÚÑEZ, Iker 11 C.D.N. Ciudad De Al...  prueba 37 masc
13               50m: 43.49 43.49 100m: 1:28.46 44.97  prueba 37 masc
14       7. ROSA DOMINGUEZ, Fabio 11 C.N. Los Barrios  prueba 37 masc
15               50m: 43.02 43.02 100m: 1:30.23 47.21  prueba 37 masc
16      CARBONEL MONTERO, Julian 12 C.N. San Fernando  prueba 37 masc
17               50m: 44.01 44.01 100m: 1:30.23 46.22  prueba 37 masc
18         9. LÓPEZ ALDEA, Gonzalo 12 C.D.N. Sanlucar  prueba 37 masc
19               50m: 44.44 44.44 100m: 1:32.23 47.79  prueba 37 masc
20       10. MÉNDEZ SARRIA, Ángel 12 C.N. Los Barrios  prueba 37 masc
21               50m: 46.90 46.90 100m: 1:34.04 47.14  prueba 37 masc
22  11. SOUSSI BAHRAOUI LAGHDAS, Moham1m2 ed C.D.N...  prueba 37 masc
23               50m: 46.91 46.91 100m: 1:35.45 48.54  prueba 37 masc
24  12. RODRIGUEZ GARCIA, Daniel 12 C.D.N. Ciudad ...  prueba 37 masc
25               50m: 49.29 49.29 100m: 1:38.40 49.11  prueba 37 masc
26  13. CASTAÑEDA GIL, Guillermo 11 C.N. San Fernando  prueba 37 masc
27               50m: 48.29 48.29 100m: 1:40.32 52.03  prueba 37 masc
28  14. BERMUDEZ NUÑEZ, Sergio 12 C.D.N. Ciudad De...  prueba 37 masc
29               50m: 49.51 49.51 100m: 1:40.66 51.15  prueba 37 masc
30  15. RAMBOUK LARRUD, Imran 12 C.D.N. Ciudad De ...  prueba 37 masc
31               50m: 48.92 48.92 100m: 1:40.71 51.79  prueba 37 masc
32  16. ROMAN DE RUEDA, Daniel 12 Club Natacion Jerez  prueba 37 masc
33               50m: 50.19 50.19 100m: 1:42.81 52.62  prueba 37 masc
34      17. JIMÉNEZ VIDAL, Alberto 12 C.D.N. Sanlucar  prueba 37 masc
35               50m: 50.40 50.40 100m: 1:47.23 56.83  prueba 37 masc
36  18. OPREA, Adrián Marian 12 C.D.N. Ciudad De A...  prueba 37 masc
37               50m: 53.35 53.35 100m: 1:47.57 54.22  prueba 37 masc
38  19. VILLAR RODRIGUEZ, Sergio 12 C.N. Bahia De ...  prueba 37 masc
39               50m: 53.50 53.50 100m: 1:50.22 56.72  prueba 37 masc
40  20. BARRAJON PANAO, Daniel 12 C.N. Bahia De Cadiz  prueba 37 masc
41               50m: 57.31 57.31 100m: 1:50.82 53.51  prueba 37 masc
42  21. VIERBUCHEN, Mark David 12 C.D.N. Ciudad De...  prueba 37 masc
43               50m: 55.44 55.44 100m: 1:51.56 56.12  prueba 37 masc
44           22. PÉREZ MACÍAS, Luca 12 C.N. Portuense  prueba 37 masc
45               50m: 53.78 53.78 100m: 1:52.00 58.22  prueba 37 masc
46       Prueba 37, Masc., 100m Espalda, Alevín Masc.  prueba 37 masc
47                                   Clasificación AN  prueba 37 masc
48                  23. BÁRCENA SÁNCHEZ, Guillermo 12  prueba 37 masc
49                     50m: 54.42 54.42 100m: 1:53.51  prueba 37 masc
50                24. FERNANDEZ ESCARCENA, Roberto 12  prueba 37 masc
51                     50m: 57.55 57.55 100m: 1:54.49  prueba 37 masc
52                      25. GALVÁN ROMERO, Antonio 12  prueba 37 masc
53                     50m: 56.49 56.49 100m: 1:57.18  prueba 37 masc
54                    DSQ SALGUERO GUTIERREZ, Hugo 11  prueba 37 masc
55                     WDR RODRIGUEZ CAMPELO, Iago 12  prueba 37 masc

   distance    style category       date      time
2       100  espalda   alevin 2023-11-04  17:55:00
3       100  espalda   alevin 2023-11-04  17:55:00
4       100  espalda   alevin 2023-11-04  17:55:00
5       100  espalda   alevin 2023-11-04  17:55:00
6       100  espalda   alevin 2023-11-04  17:55:00
7       100  espalda   alevin 2023-11-04  17:55:00
8       100  espalda   alevin 2023-11-04  17:55:00
9       100  espalda   alevin 2023-11-04  17:55:00
10      100  espalda   alevin 2023-11-04  17:55:00
11      100  espalda   alevin 2023-11-04  17:55:00
12      100  espalda   alevin 2023-11-04  17:55:00
13      100  espalda   alevin 2023-11-04  17:55:00
14      100  espalda   alevin 2023-11-04  17:55:00
15      100  espalda   alevin 2023-11-04  17:55:00
16      100  espalda   alevin 2023-11-04  17:55:00
17      100  espalda   alevin 2023-11-04  17:55:00
18      100  espalda   alevin 2023-11-04  17:55:00
19      100  espalda   alevin 2023-11-04  17:55:00
20      100  espalda   alevin 2023-11-04  17:55:00
21      100  espalda   alevin 2023-11-04  17:55:00
22      100  espalda   alevin 2023-11-04  17:55:00
23      100  espalda   alevin 2023-11-04  17:55:00
24      100  espalda   alevin 2023-11-04  17:55:00
25      100  espalda   alevin 2023-11-04  17:55:00
26      100  espalda   alevin 2023-11-04  17:55:00
27      100  espalda   alevin 2023-11-04  17:55:00
28      100  espalda   alevin 2023-11-04  17:55:00
29      100  espalda   alevin 2023-11-04  17:55:00
30      100  espalda   alevin 2023-11-04  17:55:00
31      100  espalda   alevin 2023-11-04  17:55:00
32      100  espalda   alevin 2023-11-04  17:55:00
33      100  espalda   alevin 2023-11-04  17:55:00
34      100  espalda   alevin 2023-11-04  17:55:00
35      100  espalda   alevin 2023-11-04  17:55:00
36      100  espalda   alevin 2023-11-04  17:55:00
37      100  espalda   alevin 2023-11-04  17:55:00
38      100  espalda   alevin 2023-11-04  17:55:00
39      100  espalda   alevin 2023-11-04  17:55:00
40      100  espalda   alevin 2023-11-04  17:55:00
41      100  espalda   alevin 2023-11-04  17:55:00
42      100  espalda   alevin 2023-11-04  17:55:00
43      100  espalda   alevin 2023-11-04  17:55:00
44      100  espalda   alevin 2023-11-04  17:55:00
45      100  espalda   alevin 2023-11-04  17:55:00
46      100  espalda   alevin 2023-11-04  17:55:00
47      100  espalda   alevin 2023-11-04  17:55:00
48      100  espalda   alevin 2023-11-04  17:55:00
49      100  espalda   alevin 2023-11-04  17:55:00
50      100  espalda   alevin 2023-11-04  17:55:00
51      100  espalda   alevin 2023-11-04  17:55:00
52      100  espalda   alevin 2023-11-04  17:55:00
53      100  espalda   alevin 2023-11-04  17:55:00
54      100  espalda   alevin 2023-11-04  17:55:00
55      100  espalda   alevin 2023-11-04  17:55:00