In [7]:
import functions200m as fun200
import functions200m as fun100
import pandas as pd
import tabula
import csv
import os
import functions50m as fun50

In [15]:
pdf = 'pdfs/ResultList_41.pdf'
tabu = tabula.read_pdf(pdf, pages='all', multiple_tables=False)
tabu = tabu[0]
print(tabu)

                         Prueba 41                 Masc., 50m Espalda  \
0               04/11/2023 - 18:28                                NaN
1                    Clasificación                                 AN
2      1. REINADO HURTADO, leandro             14 Club Natacion Jerez
3     2. GONZALEZ COLLANTES, Pablo               14 C.N. San Fernando
4   3. PALMERO ESPINOSA, Alejandro  14 Club Deportivo Waterpolo Jerez
5         4. REAL DELGADO, gonzalo             14 Club Natacion Jerez
6          5. VERDEJO JAÉN, Javier                14 C.N. Los Barrios
7        6. SOUSSI BAHRAOUI, Talal      14 C.D.N. Ciudad De Algeciras
8         7. AHUMADA MUÑOZ, Andres               14 C.N. San Fernando
9        8. RODRIGUEZ TOCINO, Ivan               14 C.N. San Fernando
10         DSQ REYES CHAVEZ, Mario             14 Club Natacion Jerez

   Unnamed: 2 Benjamin 2014.
0         NaN     Resultados
1      Tiempo         Puntos
2       46.78              -
3       48.61              -
4       50.22              -
5       51.22              -
6       51.58              -
7       54.33              -
8       56.83              -
9       57.98              -
10        NaN              -

In [16]:
race_time = fun50.race_timefun(tabu)
gender, distance, style, category, date, time = fun50.gender_distance_style_category_date_time(tabu)
tabu = fun50.add_columns(tabu, gender=gender, distance=distance, style=style, category=category, date_string=date, time_string=time) #add_columns has dataframe as input
tabu = fun50.nas_rows(tabu)
print(tabu)
df = tabu

['prueba 41', 'masc., 50m espalda', 'unnamed: 2', 'benjamin 2014.']
                         Prueba 41                 Masc., 50m Espalda  \
2      1. REINADO HURTADO, leandro             14 Club Natacion Jerez
3     2. GONZALEZ COLLANTES, Pablo               14 C.N. San Fernando
4   3. PALMERO ESPINOSA, Alejandro  14 Club Deportivo Waterpolo Jerez
5         4. REAL DELGADO, gonzalo             14 Club Natacion Jerez
6          5. VERDEJO JAÉN, Javier                14 C.N. Los Barrios
7        6. SOUSSI BAHRAOUI, Talal      14 C.D.N. Ciudad De Algeciras
8         7. AHUMADA MUÑOZ, Andres               14 C.N. San Fernando
9        8. RODRIGUEZ TOCINO, Ivan               14 C.N. San Fernando
10         DSQ REYES CHAVEZ, Mario             14 Club Natacion Jerez

   Unnamed: 2 Benjamin 2014. gender distance    style  category       date  \
2       46.78              -   masc       50  espalda  benjamin 2023-11-04
3       48.61              -   masc       50  espalda  benjamin 2023-11-04
4       50.22              -   masc       50  espalda  benjamin 2023-11-04
5       51.22              -   masc       50  espalda  benjamin 2023-11-04
6       51.58              -   masc       50  espalda  benjamin 2023-11-04
7       54.33              -   masc       50  espalda  benjamin 2023-11-04
8       56.83              -   masc       50  espalda  benjamin 2023-11-04
9       57.98              -   masc       50  espalda  benjamin 2023-11-04
10        NaN              -   masc       50  espalda  benjamin 2023-11-04

        time
2   18:28:00
3   18:28:00
4   18:28:00
5   18:28:00
6   18:28:00
7   18:28:00
8   18:28:00
9   18:28:00
10  18:28:00

In [19]:
pdf = 'pdfs/ResultList_40.pdf'
tabu = tabula.read_pdf(pdf, pages='all', multiple_tables=False)
print(tabu)

[                            Prueba 40 Fem., 100m Espalda  \
0                  04/11/2023 - 18:23                NaN
1                       Clasificación                 AN
2            1. CASTILLO OJEDA, Julia                 13
3              50m: 42.03 42.03 100m:            1:25.75
4            2. AGUILAR CONESA, Julia                 13
5              50m: 43.09 43.09 100m:            1:28.73
6          3. GONZALEZ MARTINEZ, Gema                 13
7              50m: 45.47 45.47 100m:            1:35.07
8            4. MORILLO QUIROS, Maria                 13
9              50m: 49.85 49.85 100m:            1:39.81
10         5. LOZANO MANDESIS, Alicia                 13
11             50m: 51.44 51.44 100m:            1:41.28
12           6. PEÑA JIMENEZ, Carlota                 13
13             50m: 49.43 49.43 100m:            1:41.80
14    7. FERNANDEZ CLANNACHAN, alexia                 13
15             50m: 50.08 50.08 100m:            1:41.96
16         8. FERNANDEZ SANCHEZ, Emma                 13
17             50m: 49.79 49.79 100m:            1:44.39
18             9. RAMOS ROMERO, Leire                 13
19             50m: 51.97 51.97 100m:            1:47.44
20  10. MONREAL BECERRA, Ana Estrella                 13
21             50m: 53.18 53.18 100m:            1:52.59
22         11. JIMÉNEZ BARBERO, María                 13
23             50m: 55.28 55.28 100m:            1:53.62
24       12. HERRERA HERRERA, Ariadna                 13

                    Unnamed: 2 Benjamin Fem. 2013
0                          NaN         Resultados
1                          NaN      Tiempo Puntos
2   C.D.N. Ciudad De Algeciras          1:25.75 -
3                        43.72                NaN
4   C.D.N. Ciudad De Algeciras          1:28.73 -
5                        45.64                NaN
6            C.N. San Fernando          1:35.07 -
7                        49.60                NaN
8          Club Natacion Jerez          1:39.81 -
9                        49.96                NaN
10            C.N. Los Barrios          1:41.28 -
11                       49.84                NaN
12  C.D.N. Ciudad De Algeciras          1:41.80 -
13                       52.37                NaN
14         Club Natacion Jerez          1:41.96 -
15                       51.88                NaN
16            C.N. Los Barrios          1:44.39 -
17                       54.60                NaN
18             C.D.N. Sanlucar          1:47.44 -
19                       55.47                NaN
20         Club Natacion Jerez          1:52.59 -
21                       59.41                NaN
22  C.D.N. Ciudad De Algeciras          1:53.62 -
23                       58.34                NaN
24            C.N. Los Barrios          2:04.68 -  ]